# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Carpeta de configuraciones locales de Visual Studio
.vs/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Archivos de Visual Studio
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates

# Archivos de compilación temporales
*.log
*.tlog
*.pdb
*.idb
*.ilk

# Carpetas de build
/[Bb]uild/
x64/
Debug/
Release/

# Archivos de configuración locales
.vscode/
*.swp
*.swo
